<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biblioteca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>
<body>

<div class="container body-content min-vh-100">
    @RenderBody()

    <br />
    <br />
    <hr />
    <br />
</div>
<footer class="bg-dark" style="height:300px">
    <br />
    <br />
    <div class="container body-content text-center align-content-center">
        <div class="row">
            <div class="col-6">
                <h3 class="text-white">&copy; @DateTime.Now.Year</h3>
            </div>

            <div class="col-6">
                <div>

                    <a href="https://www.facebook.com/" target="_blank"><i class="btn btn-outline bg-light fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="btn btn-outline bg-light fa fa-twitter"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="btn btn-outline bg-light fa fa-instagram"></i></a>

                </div>
            </div>

        </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>