
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ActionLink("Añadir nuevo", "Create")
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in ViewBag.listCategories)
            {
                <tr>
                    <td>@categoria.Id</td>
                    <td>@categoria.Nombre</td>
                    <td>
                        @Html.ActionLink("Eliminar","Delete","Categoria",new {id = categoria.Id }, new {@class ="btn btn-outline-danger" })
                         | @Html.ActionLink("Editar","Edit","Categoria",new {id = categoria.Id }, new {@class ="btn btn-outline-warning" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


