@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        #tablecita {
            display: block;
            height: 500px;
        }
    </style>
<div class="main-panel">
    
    <div class="content">
        
        <div class="container-fluid ">
            <h3>Bienvenido <strong>@ViewBag.Cuenta.Email</strong></h3>
            <hr />
            <br />
            <div class=" row text-center">
                @*PRIMERA CART*@
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats shadow">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-window-maximize"></i>
                            </div>
                            <p class="card-category">POSTS</p>
                            <h3 class="card-title">@ViewBag.CountPosts</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                                @*<a href="javascript:;">ELLA NO TE AMA</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*SEGUNDA CART*@
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats shadow">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <p class="card-category">EMPRESA</p>
                            <h3 class="card-title">@ViewBag.Cuenta.NombreEmpresa</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>
                @*TERCERA CART*@
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats shadow">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <p class="card-category">PAIS</p>
                            <h3 class="card-title">@ViewBag.Country</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">POSTS</h4>

                </div>
                @*TABLE OF POSTER----------------------------------------------------------------*@
                <div>
                    <div class="card-body table-responsive">
                        <div id="tablecita">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Posicion</th>
                                        <th>Categoria</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.ListPosts)
                                    {
                                        <tr>
                                            <td>@item.NombrePosicion</td>
                                            <td>@item.Categorias</td>
                                            <td>@item.FechaCreacion</td>
                                            <td>
                                                @Html.ActionLink("info", "InfoPost", "UserPoster", new { id = item.Id, categoria = item.NombreCategoria, ciudad = item.NombreCiudad, pais = item.NombrePais, tipotrabajo = item.NombreTipoTrabajo, correo = ViewBag.Cuenta.Email, empresa = ViewBag.Cuenta.NombreEmpresa, calle = item.NombreCalle, posicion = item.NombrePosicion, descripcion = item.Descripcion, IdPoster = item.Poster, dUrl = item.DireccionUrl }, new { @class = "btn btn-primary material-icons" })
                                                @Html.ActionLink("edit", "EditarPost", "UserPoster", new { id = item.Id, categoria = item.NombreCategoria, ciudad = item.NombreCiudad, pais = item.NombrePais, tipotrabajo = item.NombreTipoTrabajo, correo = ViewBag.Cuenta.Email, empresa = ViewBag.Cuenta.NombreEmpresa, calle = item.NombreCalle, posicion = item.NombrePosicion, descripcion = item.Descripcion, IdPoster = item.Poster, dUrl = item.DireccionUrl }, new { @class = "btn btn-secondary material-icons" })
                                                @Html.ActionLink("close", "EliminarPost", "UserPoster", new { id = item.Id }, new { @class = "btn btn-danger material-icons" })

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>