@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        #tablecita {
            display: block;
            height: 500px;
        }
    </style>
<div class="main-panel">

    <div class="content">
        <div class="container-fluid ">
            <div class=" row text-center">
                @*PRIMERA CART*@
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats shadow">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-window-maximize"></i>
                            </div>
                            <p class="card-category">POSTS</p>
                            <h3 class="card-title">@ViewBag.CountPosts</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                                @*<a href="javascript:;">ELLA NO TE AMA</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                @*SEGUNDA CART*@
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats shadow">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <p class="card-category">EMPRESA</p>
                            <h3 class="card-title">@ViewBag.Cuenta.NombreEmpresa</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>
                @*TERCERA CART*@
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats shadow">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                            <p class="card-category">PAIS</p>
                            <h3 class="card-title">@ViewBag.Country</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">POSTERS</h4>

                </div>
                @*TABLE OF POSTER----------------------------------------------------------------*@
                <div>
                    <div class="card-body table-responsive">
                        <div id="tablecita">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Posicion</th>
                                        <th>Categoria</th>
                                        <th>Fecha</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.ListPosts)
                                    {
                                        <tr>
                                            <td>@item.NombrePosicion</td>
                                            <td>@item.Categorias</td>
                                            <td>@item.FechaCreacion</td>
                                            <td>
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-secondary">
                                                    <i class="material-icons">edit</i>
                                                </button>

                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger ">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>