
@using WebApp_Prog3.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CATEGORIAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @{
                            CategoriaClient categoria = new CategoriaClient();
                            var elementos = categoria.GetAll();
                            int count = 0;
                            foreach (var cat in elementos)
                            {
                                @Html.ActionLink(cat.Nombre, "Busqueda", new { buscar = cat.Nombre, sortOrder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortBy = "Fecha"},new {@class = "dropdown-item" })
                                count++;
                                if (count == 4)
                                {
                                    break;
                                }

                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ver todas las categorias</a>
                        }

                    </div>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0 ">
                @if(User.Identity.IsAuthenticated)
                {
                    if(User.IsInRole("Admin"))
                    {
                        <a>@Html.ActionLink("Perfil", "ProfileAcc", "UserAdmin", null, new { @class = "btn btn-warning my-2 my-sm-0" })</a>
                    }
                    else if(User.IsInRole("Poster"))
                    {
                        <a>@Html.ActionLink("Perfil", "ProfileAcc", "UserPoster", null, new { @class = "btn btn-warning my-2 my-sm-0" })</a>
                    }
                }
                else
                {
                    <a>@Html.ActionLink("Iniciar Sesion", "Index", "UserPoster", null, new { @class = "btn btn-secondary mr-sm-2" })</a>
                    <a>@Html.ActionLink("Registrarse", "Index", "UserPoster", null, new { @class = "btn btn-info my-2 my-sm-0 btn-sm" })</a>
                }

            </form>
            @*<ul class="navbar-nav mr-sm-4 ">
                <li>
                    <a href="#" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Register</a>
                </li>
                <li>
                    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
                </li>
            </ul>*@
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TEAM 4 PROGRAMACION 3</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
