<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bolsa de empleos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>
<body class="bg-white">

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
        <a>@Html.ActionLink("Panel Principal", "ProfileAcc", "UserAdmin", null, new { @class = "navbar-brand text-dark" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</a></li>
                <li class="nav-item dropdown mr-sm-2 ml-sm-2">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestionar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a>@Html.ActionLink("Categorias", "Index", "Categoria", null, new { @class = "dropdown-item" })</a>
                        <div class="dropdown-divider"></div>
                        <a>@Html.ActionLink("Posters", "BusquedaUserPoster", "UserAdmin", null, new { @class = "dropdown-item" })</a>
                    </div>

                </li>
                <li class="nav-item dropdown mr-sm-2 ml-sm-2">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Perfil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a>@Html.ActionLink("Perfil", "ProfileAcc", "UserAdmin", null, new { @class = "dropdown-item" })</a>
                        <div class="dropdown-divider"></div>
                        <a>@Html.ActionLink("LogOut", "LogOut", "UserAdmin", null, new { @class = "dropdown-item" })</a>
                    </div>

                </li>

            </ul>
        </div>

    </nav>

    <div class="container body-content min-vh-100">
        @RenderBody()

        <br />
        <br />
        <hr />
        <br />
    </div>
    <footer class="bg-dark" style="height:300px">
        <br />
        <br />
        <div class="container body-content text-center">
            <h3 class="text-white">&copy; @DateTime.Now.Year - TEAM 4 [ PROGRAMACION 3 ]</h3>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>